<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=""  id="tes">
        <input type="submit"  name="submit">
    </form>
    <script>

        socket = new WebSocket('ws://127.0.0.1:8000/ws/chat/1/' , ["helo" , "1212" , "test" , "121212"])
        socket.onopen = function (event) {
            console.log("WebSocket connection opened:");
        };

        socket.onerror = (error) => {
            console.error('WebSocket error:', error);
        }

        h = () =>{
            if (socket.readyState === WebSocket.OPEN){
                socket.send(JSON.stringify({
                    'message': "helo",
                }))
            }
        }

        document.getElementById("tes").addEventListener(
            'submit' , (e) => {
                e.preventDefault();
                h()
            }
        )

    </script>
</body>
</html>